body {
  background: #909193 url(distrib/images/background.png) no-repeat center center;
  background-size: 100% 100%;
  font-family: Tahoma, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  height: 100vh;
  margin: 0;
}



h1 {
  color: black;
  font-family: Tahoma, sans-serif;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-family: Tahoma, sans-serif;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Tahoma, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: #000;
  border: 2px solid white;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Tahoma;
  font-size: 8pt;
  text-align: center;
}

.task-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #245DDA;
  border-bottom: 2px solid #245DDA;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  font-family: Tahoma, sans-serif;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

.task-bar .windows-logo {
  position: absolute;
  left: 5px;
  bottom: -15px;
}

.task-bar .windows-logo img {
  height: 75px;
  width: auto; 
}

.task-bar .status {
  flex: 1;
  text-align: center;
}

.task-bar .date-time {
  margin-left: auto;
  margin-right: 10px;
  white-space: nowrap;
}